
.home {
  // height: 900px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  padding-top: 40px;

  h1 {
    font-size: 40px;
  }


  &__login {
    height: fit-content;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    position: relative;

    h2 {
      font-size: 20px;
      margin-bottom: 40px;
      text-align: center;
    }

    label {
      font-size: 18px;
    }

    input {
      margin: 10px auto 0;
      background: white;
      border-radius: 10px;
      padding: 12px;
      width: 400px;
      box-shadow: inset 0 0 4px 0px black;
    }

    button {
      width: fit-content;
      padding: 8px 10px;
      font-size: 20px;
      font-weight: bold;
      margin: 10px auto 0;
      border-radius: 15px;
    }
  }

  &__error {
    position: absolute;
    bottom: -72px;
    left: 0;
    right: 0;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid red;
    font-size: 20px;
    font-weight: bold;
  }
}