@keyframes teste {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
}

.userItem {
    width: 320px;
    font-family: Arial;
    
    div {
        padding: 8px;

        border: 2px solid gray;
        
        &:first-child {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            span {
                text-align: left;
                font-size: 18px;
            }
            
            img {
                width: 50px;
                height: 50px;
            }
        }

        &:last-child {
            background: blue;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top: 0;
        }

        > p {
            margin-bottom: 10px;

            span {
                width: 100%;
                color: blue;
                font-weight: bold;
            }
        }
    }

    > p {
        background: red;
        text-align: right;
        font-size: 24px;
        background: blue;
        color: #FFF;
        font-weight: bold;
        padding: 5px;
    }

    button {
        width: 100%;
        padding: 15px;
        font-size: 20px;
        font-weight: bold;
        background: blue;
        color: #FFF;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    @media (max-width: 515px) {
        width: 300px;
    }
}

